# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
build/
.coverage
coverage/
coverage.xml
htmlcov/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Environment
.env

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific
app.db
